

#tbox-placeholder {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 10001;
}
#tbox-container {
  position: relative;
}
#tbox-box {
  background-color: rgba(18, 18, 18, 0.7);
  border: 1px solid #EFEFEF;
  color: #FFFFFF;
  height: 700px;
  overflow: auto;
  padding: 8px;
  width: 320px;
}
.tbox-group,
.tbox-tool {
  border: 1px solid #EFEFEF;
  margin-bottom: 3px;
  padding: 5px;
}
.tbox-group {
  background: linear-gradient(#0C0E0B, rgb(65, 65, 65));
  border: 1px solid rgb(196, 114, 83);
  border-radius: 2px;
  box-shadow: #666 0px 2px 3px;
}
.tbox-tool {
  background: -webkit-linear-gradient(#757873, #4B5049);
  border: 1px solid rgb(141, 241, 141);
  border-radius: 2px;
  box-shadow: #666 0px 2px 3px;
}
.tbox-group-header,
.tbox-tool-header {
  cursor: pointer;
}
.tbox-group-header {

}
.tbox-tool-content {

}
.tbox-group-content,
.tbox-tool-content {
}
.tbox-group-content {

}
.tbox-tool-content {

}
.tbox-group.collapsed .tbox-group-content,
.tbox-tool.collapsed .tbox-tool-content {
  display: none;
}

#tbox-switch {
  background-color: rgba(18, 18, 18, 0.7);
  border: 1px solid #000000;
  border-left: none;
  bottom: 30px;
  color: #FFFFFF;
  height: 25px;
  left: 5px;
  line-height: 25px;
  padding: 3px 5px;
  position: fixed;
  width: 110px;
}

#tbox-keys-info {
  background-color: rgba(18, 18, 18, 0.7);
  border: 1px solid #000000;
  border-left: none;
  color: #FFFFFF;
  max-height: 700px;
  left: 0;
  line-height: 25px;
  overflow: auto;
  padding: 3px 5px;
  position: fixed;
  left: 5px;
  top: 40px;
  width: 300px;
}